/*
Color palette
Green           #A5B68D
Pinkish beige   #ECDFCC
Beige           #FCFAEE
Orange          #DA8359
*/

body {
    margin: auto;
    max-width: 650px;
}
hr {
    border: 2px solid #A5B68D;
}
a, a:visited {
    color: black;
}
a:hover {
    color: #DA8359;
}
h1 {
    margin-top: 50px;
}
h2 {
    margin-top: 50px;
}
.grade-list {
    margin-top: 50px;
}
li {
    margin: 15px 0px;
}
.math-content {
    font-size: large;
}
.squareGraph {
    aspect-ratio: 1/1;
    margin: auto;
    width: 450px;
}
footer {
    background-color: #A5B68D;
    color: white;
    font-size: small;
    margin-top: 100px;
    padding: 30px 10px;
}
footer a {
    color: white;
}
