/*Color palette
Green           #729170
Light green     #A5B68D
Pinkish beige   #ECDFCC
Orange          #DA8359
*/
body {
    line-height: 1.5;
    margin: auto;
    width: 90%;
    max-width: 800px;
}
hr.page-header {
    border: 2px solid #729170;
}
a, a:visited {
    color: black;
}
a:hover {
    color: #DA8359;
}
.green-text {
    color: #729170;
}
.orange-text {
    color: #DA8359;
}
.btt-btn {
    background-color: white;
    border: 1px #729170 solid;
    border-radius: 12px;
    bottom: 2%;
    color: #729170;
    font-size: 20px;
    padding: 5px 10px;
    position: fixed;
    right: 2%;
}
.btt-btn:hover {
    background-color: #729170;
    color: white;
}
h1 {
    margin-top: 50px;
}
.intro {
    margin: 50px 0px;
}
h2 {
    color: #729170;
    margin-bottom: 0px;
    margin-top: 80px;
}
hr.topic-header {
    border: 1px solid #729170;
}
.grade-list {
    margin-top: 50px;
}
.math-list {
    font-size: 20px;
    padding-left: 20px;
}
.math-content {
    font-size: 18px;
}
.math-content div {
    margin-bottom: 50px;
    margin-top: 50px;
}
.link-to-adjacent-topic {
    background-color: white;
    border: 1px #729170 solid;
    border-radius: 12px;
    color: #729170;
    font-size: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 33%;
}
.link-to-adjacent-topic:hover {
    background-color: #729170;
    color: white;
}
.right {
    float: right;
}
.left {
    float: left;
}
@media screen and (max-width: 600px) {
    .link-to-adjacent-topic {
        margin-top: 15px;
        width: 100%;
    }
}
.def {
    margin-top: 50px;
}
.def strong:hover {
    color: #DA8359;
}
.eg {
    border: 1.5px dashed #729170;
    border-radius: 10px;
    margin: 20px 0px;
    padding: 15px 25px;
}
.eg i {
    color: #729170;
    font-weight: 700;
}
.ejercicio {
    border: 2px solid #DA8359;
    border-radius: 10px;
    margin: 15px 0px;
    padding: 15px;
}
.hidden {
    display: none;
}
.see-answer-btn {
  background-color: white;
  border: 1px #DA8359 solid;
  border-radius: 12px;
  color: #DA8359;
  font-size: 16px;
  margin: 10px auto;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}
.see-answer-btn:hover {
  background-color: #DA8359;
  color: white;
}
.underlined {
    text-decoration: underline;
}
.square-graph {
    aspect-ratio: 1;
    max-width: 500px;
    min-width: 300px;
    width: 75%;
}
.short-graph {
    aspect-ratio: 2;
    max-width: 500px;
    min-width: 300px;
    width: 75%;
}
footer {
    background-color: #729170;
    color: white;
    margin-top: 250px;
    padding: 30px 10px;
}
footer a {
    color: white;
}
