/*Color palette (green-orange)

Green           #729170
Light green     #A5B68D
Pinkish beige   #ECDFCC
Orange          #DA8359
*/

/*Color palette (green-purple)

Dark green      #636D55
Green           #A5B68D
Pale green      #C9D3BB
Bright purple   #9D8CB5
Pale purple     #BFB4CF
Dark purple     #665B76
*/

body {
    margin: auto;
    width: 90%;
    max-width: 650px;
}
hr {
    border: 2px solid #729170;
}
a, a:visited {
    color: black;
}
a:hover {
    color: #DA8359;
}
h1 {
    margin-top: 50px;
}
h2 {
    color: #729170;
    margin-top: 50px;
}
.grade-list {
    margin-top: 50px;
}
li {
    margin: 15px 0px;
}
.math-content {
    font-size: 18px;
}
.math-content div {
    margin-bottom: 50px;
    margin-top: 50px;
}
.link-to-adjacent-topic {
    background-color: white;
    border: 1px #729170 solid;
    border-radius: 12px;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 33%;
}
.link-to-adjacent-topic:hover {
    background-color: #729170;
    color: white;
}
.right {
    float: right;
}
.left {
    float: left;
}
@media screen and (max-width: 600px) {
    .link-to-adjacent-topic {
        margin-top: 15px;
        width: 100%;
    }
}
.topic-name {
    font-size: 18px;
}
.def {
    margin-top: 50px;
}
.def strong:hover {
    color: #DA8359;
}
.eg {
    border: 1.5px dashed #729170;
    border-radius: 10px;
    margin: 20px 0px;
    padding: 15px 25px;
}
.eg i {
    color: #729170;
    text-decoration: underline;
}
.ejercicio {
    border: 2px solid #DA8359;
    border-radius: 10px;
    margin: 15px 0px;
    padding: 15px;
}
.hidden {
    display: none;
}
.see-answer-btn {
  background-color: white;
  border: 1px #DA8359 solid;
  border-radius: 12px;
  color: #DA8359;
  font-size: 16px;
  margin: 10px auto;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}
.see-answer-btn:hover {
  background-color: #DA8359;
  color: white;
}
.underlined {
    text-decoration: underline;
}
.square-graph {
    aspect-ratio: 1;
    max-width: 500px;
    min-width: 300px;
    width: 75%;
}
.short-graph {
    aspect-ratio: 2;
    max-width: 500px;
    min-width: 300px;
    width: 75%;
}
footer {
    background-color: #729170;
    color: white;
    margin-top: 200px;
    padding: 30px 10px;
}
footer a {
    color: white;
}
