<h2> Sub tema </h2>
<p> contenido de conjuntos </p>

<p> Podemos usar LaTeX: </p>
$$ x^2 + y^2 = 1 $$

<p>Y podemos usar jsx graph: </p>
<div id="box" class="jxgbox squareGraph"></div>

<script>
    const board = JXG.JSXGraph.initBoard(
        'box', {
        boundingbox: [-10, 10, 10, -10],
        axis: true
    });
    let p = board.create('point', [1, 3], {name: 'point'});
</script>