<h2>¿Qué son los conjuntos?</h2>

<p> Un <strong>conjunto</strong> es una colección de objetos con una característica en común. </p>
<p>Los objetos de un conjunto pueden ser letras, números, cosas, ...</p>
<p>Por ejemplo...</p>

<p>Un <strong>elemento</strong> es un objecto que está en un conjunto.</p>
<p>Por ejemplo,</p>

<!-- Boilerplate
<h2> Sub tema </h2>

<p> Podemos usar LaTeX: </p>
$$ x^2 + y^2 = 1 $$

<p>Y podemos usar jsx graph: </p>
<div id="box" class="jxgbox squareGraph"></div>

<script>
    const board = JXG.JSXGraph.initBoard(
        'box', {
        boundingbox: [-10, 10, 10, -10],
        axis: true
    });
    let p = board.create('point', [1, 3], {name: 'point'});
</script>
-->